/Exercise 4 - CSS Basics/stylesheets/background-cheetah0.jpg
/Exercise 4 - CSS Basics/stylesheets/background-cheetah0.webp
/Exercise 4 - CSS Basics/stylesheets/background-cheetah1.jpg
/Exercise 4 - CSS Basics/stylesheets/background-cheetah1.webp
/Exercise 4 - CSS Basics/stylesheets/background-cheetah2.jpg
/Exercise 4 - CSS Basics/stylesheets/background-cheetah2.webp